@font-face {
  font-family: "Poppins Black";
  src: url("../src/assets/poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../src/assets/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../src/assets/poppins/Poppins-Regular.ttf") format("truetype");
}

$main-color: #2b91ad;
$secondary-color: #cdecef;
$thirth-color: #f2f7f9;
$fourth-color: #d3ddea;
$background-color: #fff;
$text-color: #000;
$font-family-regular: "Poppins Regular", sans-serif;
$font-family-bold: "Poppins Bold", sans-serif;
$font-family-black: "Poppins Black", sans-serif;
