.adminTitle p {
  margin: 0;
  padding: 0;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminButton button {
  width: 100px;
  height: 40px;
  margin: 20px;
}

.posterAdmin {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.posterAdmin img {
  width: 70%;
  margin: 20px;
  border: solid var(--main-color) 2px;
}

.posterContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.posterAdmin button {
  background-color: var(--main-color);
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-regular);
}
