.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla > img {
  width: 100%;
}

.buttonsCarousel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonCarousel {
  background-color:var(--main-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: var(--font-regular);
  font-size: 70%;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

.buttonCarousel:hover {
  background-color:var(--fourth-color)
}

.buttonCarousel:disabled,
.disabled {
  background-color: var(--fourth-color);
  cursor: not-allowed;
}

