.mainCarouselContainer {
  border: solid yellow 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wallBackground {
  border: solid blue 2px;
  height: 60vw;
}

.background {
  border: solid red 2px;
}

.main {
  overflow: hidden;
  max-width: 400px;
}

.main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.main__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.divSize img {
  height: 500px;
}

.poster {
  max-height: 100%;
  margin: 0px 35px 0px 35px;
}

.buttonsCarouselContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.buttonCarousel {
  background-color: var(--main-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
  font-family: var(--font-regular);
  font-size: 70%;
  border-radius: 10px;
  cursor: pointer;
  width: 35%;
}

.buttonCarousel:hover {
  background-color: var(--fourth-color);
}

.buttonCarousel:disabled,
.disabled {
  background-color: var(--fourth-color);
  cursor: not-allowed;
}
