.principalContainer {
  display: flex;
  justify-content: center;
  background-color: green;
}

/* .embla {
  overflow: hidden;
  background-color: blue;
  max-width: 450px;
} */

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}

/* .embla__container {
  display: flex;
  background-color: yellow;
} */

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

/* .embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 250px;
} */

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

/* .embla > img {
  height: 100%;
} */

.carouselIMg {
  height: 30%;
}

.buttonsCarousel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonCarousel {
  background-color: #2b91ad;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font: "Poppins Regular", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

.buttonCarousel:hover {
  background-color: #d3ddea;
}

.buttonCarousel:disabled,
.disabled {
  background-color: #d3ddea;
  cursor: not-allowed;
}
