.principalContainer {
  display: flex;
  justify-content: center;
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.logoEmbla {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.5; /* Ajustez l'opacité selon vos besoins */
  pointer-events: none; /* Pour que l'image ne bloque pas les interactions avec le carousel */
}
.embla {
  overflow: hidden;
  max-width: 450px;
  position: relative;
  z-index: 2;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 250px;
}

.embla > img {
  height: 100%;
}

.buttonsCarousel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonCarousel {
  background-color: #2b91ad;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font: "Poppins Regular", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

.buttonCarousel:hover {
  background-color: #d3ddea;
}

.buttonCarousel:disabled,
.disabled {
  background-color: #d3ddea;
  cursor: not-allowed;
}
