.principalContainer {
  display: flex;
  justify-content: center;
}

.contenter {
  overflow: hidden;
  border: solid red 2px;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.logoEmbla {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.5; /* Ajustez l'opacité selon vos besoins */
  pointer-events: none; /* Pour que l'image ne bloque pas les interactions avec le carousel */
  height: 380px;

  border: solid yellow 2px;
}

.embla {
  max-width: 150px;
  /* position: relative; */
  z-index: 2;
  border: solid yellow 2px;
}

.embla__container {
  display: flex;
}

.embla__slide {
  /* flex: 0 0 100%; */
  min-width: 0;
}

.embla > img {
  height: 100%;
}

.carouselIMg {
  height: 200px;
  margin: 0px 12px 0px 12px;
}
