.sectionvideotitle {
  text-align: center;
}

.sectionvideo {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.buttonsectionvideo {
  justify-content: center;
  margin-top: 10px;
}

.containerbuttonsectionvideo {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.buttonsectionvideo {
  background-color: var(--main-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: var(--font-regular);
  font-size: 70%;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

.buttonsectionvideo:hover {
  background-color: var(--fourth-color);
}

.buttonsectionvideo:disabled,
.disabled {
  background-color: var(--fourth-color);
  cursor: not-allowed;
}

.divSize img {
  height: 60vw;
}

.poster {
  max-height: 100%;
  margin: 0px 20px 0px 20px;
}
