@font-face {
  font-family: "Poppins Black";
  src: url("../src/assets/poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../src/assets/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../src/assets/poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Thin";
  src: url("../src/assets/poppins/Poppins-Thin.ttf") format("truetype");
}

$main-color: #2b91ad;
$secondary-color: #cdecef;
$thirth-color: #f2f7f9;
$fourth-color: #d3ddea;
$background-color: #fff;
$text-color: #000;
$font-family-regular: "Poppins Regular", sans-serif;
$font-family-bold: "Poppins Bold", sans-serif;
$font-family-black: "Poppins Black", sans-serif;
$font-family-thin: "Poppins Thin", sans-serif;

h2 {
  color: $main-color;
  font-family: $font-family-regular;
}

h4 {
  color: grey;
  font-family: $font-family-thin;
  margin: 0;
}

.contactContainer {
  margin: 0;
  min-width: 20%;
  padding: 20px;
  margin-top: 80px;
}

.contactBloc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contactForm {
  background-color: $background-color;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  border-radius: 10px;
  align-items: center;
}

.pseudoInput input {
  border-top: none;
  border-right: none;
  border-bottom: solid grey 1px;
  border-left: none;
  width: 300px;
  height: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}

button {
  background-color: $main-color;
  color: white;
  width: 100px;
}
button[type="submit"] {
  width: 100%;
  background-color: $main-color;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.underButton {
  margin: 0;
  font-family: $font-family-regular;
  font-size: smaller;
  color: grey;
}

.underButton a {
  color: $main-color;
  text-decoration: none;
}

.textUnderButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
