h2 {
  color: var(--main-color);
  font-family: var(--font-regular);
  font-size: 25px;
  text-align: center;

  padding-bottom: 10px;
}

h4 {
  color: grey;
  font-family: var(--font-regular);
  font-size: 22px;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactForm {
  background-color: var(--background-color);
  max-width: 1000px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  border-top: none;
  border-right: none;
  border-bottom: solid grey 1px;
  border-left: none;
  padding-left: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  width: 40rem;
  min-height: 2rem;
  max-height: 50rem;
  overflow: auto;
  resize: none;
}

.textarea {
  height: 4rem;
}

.checkbox {
  display: flex;
}

button[type="submit"] {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
