.videoPage {
  margin-left: 1rem;
  margin-right: 1rem;
}

.video {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.video iframe {
  width: 100%;
  height: 20rem;
}

h3 {
  font-family: var(--font-bold);
}

.synopsis {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--fourth-color);
  font-family: var(--font-regular);
}

.description {
  font-family: var(--font-regular);
  font-size: 14px;
  padding: 1rem;
  background-color: var(--third-color);
}

@media (min-width: 431px) {
  .video iframe {
    height: 30rem;
  }
}
