.videoPage {
  margin: 1rem 0rem 0rem 3rem;
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 100;
}

.blocInfo {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0) 100%
  );
}

.blocImage {
  z-index: -100;
}

p {
  color: white;
  font-family: var(--font-regular);
}

.fond {
  height: 40rem;
  z-index: -100;
}

.text {
  width: 40%;
}

.titre {
  font-family: var(--font-bold);
  font-size: 40px;
}

.resume,
.annonce {
  font-size: 18px;
  font-weight: 600;
}

.timeDate {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.video {
  padding: 2rem 2rem 2rem 2rem;
}

.video iframe {
  width: 100%;
  height: 35rem;
}

/* 
@media (min-width: 431px) {
  .video iframe {
    width: 100%;
    height: 40rem;
  }
} */
