.verifyContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verifyContainer > h3 {
  color: grey;
  font-family: var(--font-bold);
}
.verifyContainer > div > h3 > a {
  text-decoration: none;
}

.verifyContainer > div > h3 > a > button {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.verifyTextContainer {
  margin: 1rem;
}

.verifyContainer > div > h3 > a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
