.containParents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;

  background-color: black;
}

.logo {
  height: 4rem;
  margin: 1rem;
}

.containLeft {
  height: 3rem;
}

.profile,
.search {
  height: 2.5rem;
  margin: 2rem;
}

.containRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}
