.containParents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-top: 20px;
  padding: 0px 40px 0px 40px;
}

.logo {
  height: 3rem;
}

.containLeft {
  height: 3rem;
}

.profile,
.search {
  height: 2rem;
}

.containRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}
